<a href="https://colab.research.google.com/github/JonatanSiracusa/Challenge_Quilmes_Seeds/blob/main/Challenge_Quilmes.ipynb" 
target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[Challenge Técnico QUILMES - SALES FINANCE SQUAD](#scrollTo=zqEVea5qMdNq)

>>[Contexto de negocio](#scrollTo=_6UF_L7PMkx4)

>>[Aclaraciones](#scrollTo=i0TlPwjRcSSU)

>>[Tablas](#scrollTo=WESYFzCwcSMg)

>>[Variables](#scrollTo=Lwq2-IwadOcp)

>>[Indicaciones](#scrollTo=ohOr-JZUdOYK)

>>[PROBLEMA a resolver](#scrollTo=LcxVTa8jdOQ9)

>>[SOLUCIÓN buscada](#scrollTo=7RBLq4_hfqox)

>[DESARROLLO de la solución](#scrollTo=IvjWGpi8f9X-)

>>[Inicio: carga de librerías, definición de Funciones y variables globales](#scrollTo=RzO8w1ysoR5P)

>>[Carga de datos](#scrollTo=N2ZT3qWIY_5c)

>>[Limpieza de datos](#scrollTo=KAjjl-EDoYZ_)

>>>[Verificamos faltantes y nulos](#scrollTo=jxVDLo43d3qO)

>>>>[DF Clientes](#scrollTo=wR2b6spSeFFo)

>>>>[DF Transacciones](#scrollTo=AcMZHjuBeJ2V)

>>>>[DF Limites y plazos](#scrollTo=R2NB1AAGearY)

>>>>[DF Deuda](#scrollTo=9-BQxdGiei0O)

>>[Transformación de datos](#scrollTo=1Ht6Zro3oje8)

>>>[Conversión de tipo de datos](#scrollTo=7cf2gDDvOzpE)

>>>[Análisis de datos duplicados](#scrollTo=RtKOGJcURaMS)

>>>[Creación de los DF necesarios para el análisis](#scrollTo=AQgG_5vJSjrX)

>>[Análisis](#scrollTo=2vs5OQgxZURk)

>>>[Seleccionamos nuestra muestra](#scrollTo=x060Yk9m-jwf)

>>>[Creamos un nuevo DataFrame de Variaciones Porcentuales y sus correspondientes Acumulados.](#scrollTo=3EQRv8bUNeuJ)

>>[Visualizaciones](#scrollTo=-oZALeyloq56)

>>>[Distribución de las Variaciones Porcentuales Intradiarias](#scrollTo=PxIgyv58YwNG)

>>>>[Promedios y Medidas de Dispersión](#scrollTo=Bb5clEyFRmd3)

>>>>[Distribución de ocurrencias](#scrollTo=LWMn7R74Zke-)

>[Conclusiones](#scrollTo=q7ppUWSYpA7A)

>>[Rango Porcentual Intradiario Total](#scrollTo=q7ppUWSYpA7A)

>>[Información útil para el Trader](#scrollTo=q7ppUWSYpA7A)

# Challenge Técnico QUILMES - SALES FINANCE SQUAD

Prueba técnica a ser resuelta por ANGEL JONATÁN SIRACUSA.

Plazo límite de entrega: viernes 22/7/2022, a las 17hs.

## Contexto de negocio


* La empresa corresponde a la industria de consumo masivo y sigue un marco de negocio B2B (Business-to-Business).

* La empresa vende sus productos a sus distintos clientes (ej. tiendas, bares, restoranes, mayoristas) bajo distintas modalidades de pago: al contado y con crédito.

* La modalidad de pago con crédito es similar al uso de una cuenta corriente.

* Los clientes con crédito poseen: un límite disponible, un plazo de pago de entre 7 y 30 días en general, y no se les cobra una tasa de interés.

* El objetivo de ofrecer crédito es impulsar las ventas, de forma que ningún cliente deje de comprar por una falta temporal de efectivo.

## Aclaraciones


* Durante un mismo mes, los clientes pueden usar y repagar todo o parte del crédito que van usando. Por esta razón, el total de compras pagadas con crédito puede ser mayor al límite disponible y su ratio de uso (crédito / total) puede ser mayor a 100%; es decir, el cliente “rota” su límite disponible.

* Un cliente está en mora si tiene un saldo deudor o deuda mayor a cero en un período de tiempo (diferencia entre fecha de pago y fecha de vencimiento) también mayor a cero. Los casos en los que hay montos o períodos negativos corresponden con pagos por adelantado.

## Tablas


* **Clientes**: contiene el subcanal y la fecha de alta de los clientes

* **Transacciones**: contiene información sobre las compras que hizo el cliente durante el mes y la forma de pago

* **Límites y plazos**: contiene los límites y plazos, máximos durante el mes y a fin de mes (pueden cambiar durante el mes)

* **Deuda**: contiene los montos y días de la deuda, a final de cada mes

## Variables


Variable | Descripción
------------------|---
id_cliente |	Identificador único del cliente
mes |	Mes
compras_contado |	Compras, monto pagado al contado
compras_credito |	Compras, monto pagado a crédito
compras_total |	Compras, monto total
limite_maximo |	Límite de crédito, máximo durante el mes
plazo_maximo |	Plazo de pago, máximo durante el mes (en días)
limite_findemes |	Límite de crédito vigente a fin de mes
plazo_findemes |	Plazo de pago, vigente a fin de mes (en días)
n_compras_total |	Cantidad de compras, total
n_sucursales |	Cantidad de sucursales del cliente que hicieron compras en el mes
diasatraso_findemes |	Cantidad de días entre las fechas de pago y de vencimiento (máximo, a fin de mes)
deuda_findemes |	Monto de la deuda a fin de mes
subcanal |	Subcanal al que pertenece el cliente
mes_alta |	Mes en el que se dio de alta el cliente

## Indicaciones

* En un notebook de Python integrar las distintas tablas, por cliente o cliente-mes según corresponda.

* Tomar el último mes disponible en los datos y tomar sólo los clientes que tienen un límite y plazo mayor a cero a fin de mes.

* Generar un filtro para obtener los mejores clientes para la recomendación, en base a las siguientes reglas:
  * Clientes cuyo uso en el último mes (o los últimos 3 meses) sea mayor a 80%.
  * Clientes que no tengan mora (monto de la deuda positivo y días con atraso mayores a cero) al final del mes.
  * Rankear los clientes con algún criterio (ej. Compras totales, crecimiento mensual de las compras) y tomar los primeros 25 en base a ese filtro. Se podrían generar nuevas variables para esto, a partir de las contenidas en las tablas originales.
  * A estos clientes se les otorgará un incremento en el límite de crédito el mes siguiente.

* Construir un entregable en formato Excel, cuyo destinatario es el cliente interno (el negocio), con las principales variables de los clientes a los que les recomienda incrementar el límite (ej. Compras, uso del crédito, etc.), y una nota breve en otra solapa con las variables que se eligieron.

* (Opcional) Probar alguna otra técnica de clustering para identificar los mejores clientes.

## PROBLEMA a resolver

* La empresa tiene el objetivo de expandir el uso del crédito, impulsando las ventas, orientando el crédito a los **mejores clientes** (los que muestren un mayor uso del límite disponible y menor riesgo de no repagar la deuda o repagar después del vencimiento).

* El negocio necesita entender, de los clientes con crédito, qué clientes son mejores para otorgarles incrementos en sus límites (en base a los criterios del primer punto).

## SOLUCIÓN buscada
* En base a los datasets disponibles, responder las preguntas de negocios planteadas.

# DESARROLLO de la solución

El siguiente desarrollo ha sido analizado y realizado por Angel Jonatán Siracusa, para **Cervecería y Maltería Quilmes-ARG** y **Seeds-Platform**.


Los archivos necesarios para el presente desarrollo se encuentran alojados en una carpeta con acceso restingido solo a quienes conozcan el siguiente link: https://drive.google.com/drive/folders/1ptd_SxsW8IbIStMPOJC3ZBWY_Gs9KqFU?usp=sharing

Para que sea posible ejecutar el presente notebook, será necesario crear una carpeta de Google Drive en "Mi unidad" llamada "Challenges", y dentro una carpeta llamada "Challenge_Quilmes_Seeds". Luego alojar en la última carpeta los archivos compartidos anteriormente.




LinkedIn: <a href="https://www.linkedin.com/in/ajsiracusa/" 
target="_parent">/ajsiracusa</a>

GitHub: <a href="https://github.com/JonatanSiracusa" 
target="_parent">@JonatanSiracusa</a>

Tw: <a href="https://twitter.com/JonaSiracusaDev" 
target="_parent">@JonaSiracusaDev</a>

IG: @JonaSiracusaDev

## Inicio: carga de librerías, definición de Funciones y variables globales

In [2]:
# Importamos las librerías que se van a necesitar
from google.colab import drive
import pandas as pd
import numpy as np
from numpy import log as ln
from scipy import stats
from scipy.stats import norm
import statistics as st


# Declaramos las variables globales
DIAS_V_H = 40
RUEDAS_POR_ANIO = 252
FECHA_INICIO_MUESTRA = '1997-01-01'
FECHA_FIN_MUESTRA = '2099-01-01'
NIVEL_SIGNIFICACION = 0.05
FECHA_VENC_EJERCICIOS = ['2022-04-15', '2022-06-17']


# Montamos Google Drive
drive.mount('/content/drive/')


# Escribimos las funciones que serán usadas durante el estudio:

def tomar_muestra_df(df, fecha_inicio, fecha_fin='2099-12-31'):
  """ Esta funcion toma las filas del DF que se encuentran entre fecha_inicio y
      fecha_fin
  """

  mask = ((df['fecha_date'] >= fecha_inicio) & (df['fecha_date'] <= fecha_fin))
  return df.loc[mask]


def copiar_cols_df(df_orig, df_nuevo, cols_orig, cols_nuevo):
  """ Esta funcion toma la columna del primer DF y copia todas las filas de la columna
      en el segundo DF.
      El parametro "cols_orig" y "cols_nuevo" puede ser una lista de columnas usando enteros.

      Args:
        df_orig (pandas object): el DF del cual se quiere copiar.
        df_nuevo (pandas object): el DF al cual se quieren copiar las columnas.
        cols_orig (int): es una lista con int que indican la columna que se quiere copiar.
        cols_nuevo (int): es una lista con int que indica la columna donde se quiere copiar.

      Returns:
        df_nuevo (pandas object): Retorna un DF con las  nuevas columnas copiadas.
  """

  for elem in range(0, len(cols_orig)):
    df_nuevo.iloc[:, cols_nuevo[elem]] = df_orig.iloc[ :, cols_orig[elem]]
  
  return df_nuevo

Mounted at /content/drive/

## Carga de datos

In [3]:
# Almacenamos las rutas de acceso a los csv
clientes_path = '/content/drive/MyDrive/Challenges/Challenge_Quilmes_Seeds/clientes.csv'
transacciones_path = '/content/drive/MyDrive/Challenges/Challenge_Quilmes_Seeds/transacciones.csv'
limites_y_plazos_path = '/content/drive/MyDrive/Challenges/Challenge_Quilmes_Seeds/limitesyplazos.csv'
deuda_path = '/content/drive/MyDrive/Challenges/Challenge_Quilmes_Seeds/deuda.csv'

# Cargamos los datos
clientes_df = pd.read_csv(clientes_path)
transacciones_df = pd.read_csv(transacciones_path)
limites_y_plazos_df = pd.read_csv(limites_y_plazos_path)
deuda_df = pd.read_csv(deuda_path)

## Limpieza de datos

###Verificamos faltantes y nulos

####DF Clientes

* No hay nulos, ni faltantes.
* Analizar si es necesario cambiar el tipo de dato de la columna "mes_alta".

In [4]:
clientes_df.head()

   id_cliente subcanal    mes_alta
0        3823        C  2004-11-01
1        5813        C  2004-11-01
2        5999        C  2004-11-01
3        8425        B  2000-10-01
4        9993        D  1998-07-01

In [5]:
clientes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42995 entries, 0 to 42994
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  42995 non-null  int64
 1   subcanal    42995 non-null  object
 2   mes_alta    42995 non-null  object
dtypes: int64(1), object(2)
memory usage: 1007.8+ KB

In [6]:
clientes_df.isnull().sum()

id_cliente    0
subcanal      0
mes_alta      0
dtype: int64

In [7]:
clientes_df[clientes_df.isna().any(axis=1)]

Empty DataFrame
Columns: [id_cliente, subcanal, mes_alta]
Index: []

####DF Transacciones

* No hay nulos, ni faltantes.
* Analizar si es necesario cambiar el tipo de dato de la columna "mes".

In [8]:
transacciones_df.head()

,id_cliente,mes,compras_contado,compras_credito,compras_total,n_compras_total,n_sucursales
0,3823,2020-09-01,0.0,0.0,0.0,0,0
1,3823,2020-10-01,0.0,0.0,0.0,0,0
2,3823,2020-11-01,0.0,0.0,0.0,0,0
3,3823,2020-12-01,0.0,0.0,0.0,0,0
4,3823,2021-01-01,0.0,0.0,0.0,0,0

In [9]:
transacciones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945890 entries, 0 to 945889
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id_cliente       945890 non-null  int64
 1   mes              945890 non-null  object
 2   compras_contado  945890 non-null  float64
 3   compras_credito  945890 non-null  float64
 4   compras_total    945890 non-null  float64
 5   n_compras_total  945890 non-null  int64
 6   n_sucursales     945890 non-null  int64
dtypes: float64(3), int64(3), object(1)
memory usage: 50.5+ MB

In [10]:
transacciones_df.isnull().sum()

id_cliente         0
mes                0
compras_contado    0
compras_credito    0
compras_total      0
n_compras_total    0
n_sucursales       0
dtype: int64

In [11]:
transacciones_df[transacciones_df.isna().any(axis=1)]

Empty DataFrame
Columns: [id_cliente, mes, compras_contado, compras_credito, compras_total, n_compras_total, n_sucursales]
Index: []

####DF Limites y plazos

* No hay nulos, ni faltantes.
* Analizar si es necesario cambiar el tipo de dato de la columna "mes".

In [12]:
limites_y_plazos_df.head()

,id_cliente,mes,limite_maximo,plazo_maximo,limite_findemes,plazo_findemes
0,8425,2021-05-01,10000.0,21,10000.0,21
1,8425,2021-06-01,10000.0,21,10000.0,21
2,8425,2021-07-01,10000.0,21,10000.0,21
3,10231,2020-09-01,1000.0,15,1000.0,15
4,10231,2020-10-01,1000.0,15,1000.0,15

In [13]:
limites_y_plazos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9663 entries, 0 to 9662
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cliente       9663 non-null   int64
 1   mes              9663 non-null   object
 2   limite_maximo    9663 non-null   float64
 3   plazo_maximo     9663 non-null   int64
 4   limite_findemes  9663 non-null   float64
 5   plazo_findemes   9663 non-null   int64
dtypes: float64(2), int64(3), object(1)
memory usage: 453.1+ KB

In [14]:
limites_y_plazos_df.isnull().sum()

id_cliente         0
mes                0
limite_maximo      0
plazo_maximo       0
limite_findemes    0
plazo_findemes     0
dtype: int64

In [15]:
limites_y_plazos_df[limites_y_plazos_df.isna().any(axis=1)]

Empty DataFrame
Columns: [id_cliente, mes, limite_maximo, plazo_maximo, limite_findemes, plazo_findemes]
Index: []

####DF Deuda


* No hay nulos, ni faltantes.
* Analizar si es necesario cambiar el tipo de dato de las columnas "mes" y "deuda_findemes".

In [16]:
deuda_df.head()

   id_cliente         mes  diasatraso_findemes  deuda_findemes
0       10231  2020-09-01                   55             475
1       10231  2020-10-01                   86             475
2       10231  2020-11-01                    0             210
3       10231  2021-03-01                    0             216
4       10231  2021-04-01                    0             112

In [17]:
deuda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6560 entries, 0 to 6559
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_cliente           6560 non-null   int64
 1   mes                  6560 non-null   object
 2   diasatraso_findemes  6560 non-null   int64
 3   deuda_findemes       6560 non-null   int64
dtypes: int64(3), object(1)
memory usage: 205.1+ KB

In [18]:
deuda_df.isnull().sum()

id_cliente             0
mes                    0
diasatraso_findemes    0
deuda_findemes         0
dtype: int64

In [19]:
deuda_df[deuda_df.isna().any(axis=1)]

Empty DataFrame
Columns: [id_cliente, mes, diasatraso_findemes, deuda_findemes]
Index: []

## Transformación de datos

### Conversión de tipo de datos

In [20]:
# Convertimos 'mes_alta' str a 'mes_alta_date' datetime
clientes_df['mes_alta'] = pd.to_datetime(clientes_df['mes_alta'], format='%Y-%m-%d')
clientes_df.rename(columns={'mes_alta': 'mes_alta_date'}, inplace=True)

# Convertimos 'mes' str a 'mes_date' datetime
transacciones_df['mes'] = pd.to_datetime(transacciones_df['mes'], format='%Y-%m-%d')
transacciones_df.rename(columns={'mes': 'mes_date'}, inplace=True)

# Convertimos 'mes' str a 'mes_date' datetime
limites_y_plazos_df['mes'] = pd.to_datetime(limites_y_plazos_df['mes'], format='%Y-%m-%d')
limites_y_plazos_df.rename(columns={'mes': 'mes_date'}, inplace=True)

# Convertimos 'mes' str a 'mes_date' datetime
deuda_df['mes'] = pd.to_datetime(deuda_df['mes'], format='%Y-%m-%d')
deuda_df.rename(columns={'mes': 'mes_date'}, inplace=True)


# Convierto 'fecha' str a 'fecha_date' datetime
#df_especie['fecha'] = pd.to_datetime(df_especie['fecha'], format='%Y-%m-%d')
#df_especie.rename(columns={'fecha': 'fecha_date'}, inplace=True)

In [21]:
clientes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42995 entries, 0 to 42994
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_cliente     42995 non-null  int64
 1   subcanal       42995 non-null  object
 2   mes_alta_date  42995 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1007.8+ KB

In [22]:
transacciones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945890 entries, 0 to 945889
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id_cliente       945890 non-null  int64
 1   mes_date         945890 non-null  datetime64[ns]
 2   compras_contado  945890 non-null  float64
 3   compras_credito  945890 non-null  float64
 4   compras_total    945890 non-null  float64
 5   n_compras_total  945890 non-null  int64
 6   n_sucursales     945890 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 50.5 MB

In [23]:
limites_y_plazos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9663 entries, 0 to 9662
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cliente       9663 non-null   int64
 1   mes_date         9663 non-null   datetime64[ns]
 2   limite_maximo    9663 non-null   float64
 3   plazo_maximo     9663 non-null   int64
 4   limite_findemes  9663 non-null   float64
 5   plazo_findemes   9663 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 453.1 KB

In [24]:
deuda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6560 entries, 0 to 6559
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_cliente           6560 non-null   int64
 1   mes_date             6560 non-null   datetime64[ns]
 2   diasatraso_findemes  6560 non-null   int64
 3   deuda_findemes       6560 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 205.1 KB

### Análisis de datos duplicados

* No se observan registros duplicados en ninguno de los DF.

In [25]:
len(clientes_df.drop_duplicates()) == len(clientes_df)

True

In [26]:
len(transacciones_df.drop_duplicates()) == len(transacciones_df)

True

In [27]:
len(limites_y_plazos_df.drop_duplicates()) == len(limites_y_plazos_df)

True

In [28]:
len(deuda_df.drop_duplicates()) == len(deuda_df)

True

### Creación de los DF necesarios para el análisis

In [29]:
print("CLIENTES\n", clientes_df.head(3), "\n")
print("TRANSACCIONES\n", transacciones_df.head(3), "\n")
print("LIMS Y PLAZOS\n", limites_y_plazos_df.head(3), "\n")
print("DEUDA\n", deuda_df.head(3), "\n")

CLIENTES
    id_cliente subcanal mes_alta_date
0        3823        C    2004-11-01
1        5813        C    2004-11-01
2        5999        C    2004-11-01

TRANSACCIONES
    id_cliente   mes_date  compras_contado  compras_credito  compras_total  \
0        3823 2020-09-01              0.0              0.0            0.0
1        3823 2020-10-01              0.0              0.0            0.0
2        3823 2020-11-01              0.0              0.0            0.0

   n_compras_total  n_sucursales
0                0             0
1                0             0
2                0             0

LIMS Y PLAZOS
    id_cliente   mes_date  limite_maximo  plazo_maximo  limite_findemes  \
0        8425 2021-05-01        10000.0            21          10000.0
1        8425 2021-06-01        10000.0            21          10000.0
2        8425 2021-07-01        10000.0            21          10000.0

   plazo_findemes
0              21
1              21
2              21

DEUDA
    id_cliente   mes_date  diasatraso_findemes  deuda_findemes
0       10231 2020-09-01                   55             475
1       10231 2020-10-01                   86             475
2       10231 2020-11-01                    0             210

In [30]:
#pd.merge(left, right, on=['key1', 'key2'], how='left')

#df = df_muestra.copy(deep=True)

#del df_especie['volumen']
#del df_especie['timestamp']


df_borr = pd.merge(left=transacciones_df, right=limites_y_plazos_df, on=['id_cliente', 'mes_date'], how='outer')
df_nuevo = df_borr.copy(deep=True)
df_borr = pd.DataFrame()

df_borr = pd.merge(left=clientes_df, right=df_nuevo, on=['id_cliente'], how='outer')

df_nuevo = pd.DataFrame()
df_nuevo = df_borr.copy(deep=True)
df_borr = pd.DataFrame()


clientes_info_df = df_nuevo.copy(deep=True)
df_nuevo = pd.DataFrame()

clientes_info_df.head()

,id_cliente,subcanal,mes_alta_date,mes_date,compras_contado,compras_credito,compras_total,n_compras_total,n_sucursales,limite_maximo,plazo_maximo,limite_findemes,plazo_findemes
0,3823,C,2004-11-01,2020-09-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
1,3823,C,2004-11-01,2020-10-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
2,3823,C,2004-11-01,2020-11-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
3,3823,C,2004-11-01,2020-12-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
4,3823,C,2004-11-01,2021-01-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN

In [31]:
clientes_info_df.sort_values('mes_date', ascending=False)

,id_cliente,subcanal,mes_alta_date,mes_date,compras_contado,compras_credito,compras_total,n_compras_total,n_sucursales,limite_maximo,plazo_maximo,limite_findemes,plazo_findemes
945889,1980467,C,2007-10-01,2022-06-01,0.0,0.0,0.0,0,0,93.0,15.0,93.0,15.0
377123,1359231,C,2017-12-01,2022-06-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
902241,1715307,C,2019-03-01,2022-06-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
665697,1642367,C,2018-04-01,2022-06-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
534445,1393251,C,2018-02-01,2022-06-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912714,1725805,B,2019-03-01,2020-09-01,243.0,0.0,243.0,1,1,NaN,NaN,NaN,NaN
409046,1365467,C,2018-01-01,2020-09-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
759264,1663883,C,2018-08-01,2020-09-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
499664,1385765,C,2018-02-01,2020-09-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN
0,3823,C,2004-11-01,2020-09-01,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN

In [32]:
mask = clientes_info_df['compras_total'] < 0
clientes_info_df.loc[mask]

,id_cliente,subcanal,mes_alta_date,mes_date,compras_contado,compras_credito,compras_total,n_compras_total,n_sucursales,limite_maximo,plazo_maximo,limite_findemes,plazo_findemes
565729,1410633,D,2017-08-01,2022-06-01,-5.50,0.0,-5.50,1,1,NaN,NaN,NaN,NaN
565795,1562007,D,2017-12-01,2022-06-01,-125.02,0.0,-125.02,1,1,NaN,NaN,NaN,NaN
565837,1562013,D,2018-01-01,2022-04-01,-886.66,0.0,-886.66,1,1,NaN,NaN,NaN,NaN

In [33]:
flights_retrasados.index.size

NameError: ignored

In [ ]:
mask = transacciones_df['compras_credito'] > transacciones_df['compras_total']
transacciones_df.loc[mask]

In [ ]:
# Convierto 'fecha' str a 'fecha_date' datetime
df_especie['fecha'] = pd.to_datetime(df_especie['fecha'], format='%Y-%m-%d')
df_especie.rename(columns={'fecha': 'fecha_date'}, inplace=True)

df_especie

Del DataFrame con los datos de la población elimino columnas que no serán usadas en este estudio.

In [ ]:
df_especie.drop_duplicates
del df_especie['volumen']
del df_especie['timestamp']

df_especie

Verifico la homgeneidad de los tipos de datos.

In [ ]:
df_especie.info()

In [ ]:
# Convierto 'fecha' str a 'fecha_date' datetime
df_especie['fecha'] = pd.to_datetime(df_especie['fecha'], format='%Y-%m-%d')
df_especie.rename(columns={'fecha': 'fecha_date'}, inplace=True)

df_especie

Verfico si hay datos erróneos dentro de la serie de datos y los corrijo.

In [ ]:
# Visualizo si hay datos erróneos

mask = df_especie['maximo'] < df_especie['minimo']
df_especie.loc[mask]

In [ ]:
# Corregimos la fila

mask = df_especie['maximo'] < df_especie['minimo']
indice = df_especie.loc[mask].index

min = df_especie['maximo'][indice]
max = df_especie['minimo'][indice]
df_especie.loc[indice, 'minimo'] = min
df_especie.loc[indice, 'maximo'] = max

df_especie.iloc[indice, :]

Comenzamos con la transformación de los datos y posterior selección de la muestra a estudiar.

Decido calcular tanto el **"rango diario porcentual"**, el **"minimo diario porcentual"** y el **"maximo diario porcentual"**, respecto del precio de **"apertura"**. 

La razón es que los fines del presente estudio es generar información que sea de utilidad al **trading intradiario**. Al comienzo de la rueda el **único dato cierto es el precio de apertura**. 

Tambien es cierto el precio de cierre de la rueda anterior aunque, tomando el precio de cierre anterior, puede generarse información sesgada o no del todo objetiva, ya que pudo haber un gap en la apertura respecto del cierre anterior creando una distorsión en la información que buscamos generar.

In [ ]:
# Agrego la variacion nominal respecto del cierre anterior.
df_especie['var_cierre_nominal'] = (df_especie['cierre'] - df_especie['cierre'].shift())

# Agrego la variacion porcentual respecto del cierre anterior.
df_especie['var_cierre_porcentual'] = ((df_especie['cierre'] / df_especie['cierre'].shift()) - 1 ) * 100

# Agrego el rango nominal = max del dia - min del dia
df_especie['rango_diario_nominal'] = df_especie['maximo'] - df_especie['minimo']

# Agrego el rango porcentual = (max del dia - min del dia) / apertura
df_especie['rango_diario_porcentual'] = ((df_especie['rango_diario_nominal'] / df_especie['apertura']) - 0) * 100

# Agrego el rango minimo porcentual = min del dia / apertura
df_especie['min_diario_porcentual'] = ((df_especie['minimo'] / df_especie['apertura']) - 1) * 100

# Agrego el rango maximo porcentual = max del dia / apertura
df_especie['max_diario_porcentual'] = ((df_especie['maximo'] / df_especie['apertura']) - 1) * 100

df_especie = df_especie.fillna(0)

df_especie

## **Análisis**

### Seleccionamos nuestra muestra

Seleccionamos el rango de fechas a estudiar, es decir, nuestra muestra.

Decido tomar como muestra los datos desde el año 1997, con el fin de abarcar el período final de la Convertibilidad y su posterior crisis económica.

In [ ]:
# Creo un nuevo DF y copio la muestra que seleccionamos con las cotizaciones de un determinado periodo de tiempo. Esta es nuestra muestra.
fecha_inicio = FECHA_INICIO_MUESTRA
df_muestra = tomar_muestra_df(df_especie, fecha_inicio)
df = df_muestra.copy(deep=True)

# Reinicio los indices del nuevo DF
df = df.reset_index(drop=True)

# Agrego un indice "n" en la columna 0
df.insert(0, 'n', 1, allow_duplicates=False)
df['n'] = df['n'].cumsum()

df

### Creamos un nuevo DataFrame de Variaciones Porcentuales y sus correspondientes Acumulados.

In [ ]:
# Genero los intervalos para el index
intervalos = []
min = 0
max = 75

i = min
while i <= max:
  intervalos.append(i)
  i += 0.5

# Convierto los elementos a String
intervalos_index = []
for elem in intervalos:
  intervalos_index.append(str(elem))


# Creo el DF
df_vars = pd.DataFrame(columns=['n', 'intervalos', 'frecuencia', 'porcentaje', 'porcentaje_acum'])
df_vars['intervalos'] = intervalos

# Genero el Index
df_vars.index = intervalos_index

# Genero un indice "n" de la columna 0
df_vars['n'] = 1
df_vars['n'] = df_vars['n'].cumsum()

df_vars = df_vars.fillna(0)


# Acumulamos el intervalo de variación porcentual intradiaria
i=0
while i < len(df_vars)-1:
  if i == 0:
    mask = (df['rango_diario_porcentual'] == df_vars['intervalos'][i])
    frecuencia = len(df.loc[mask])
    df_vars.iloc[i, 2] = frecuencia
  else:   
    mask = (df['rango_diario_porcentual'] >= df_vars['intervalos'][i]) & (df['rango_diario_porcentual'] < df_vars['intervalos'][i+1])
    frecuencia = len(df.loc[mask])
    df_vars.iloc[i+1, 2] = frecuencia  
  i += 1


df_vars['porcentaje'] = df_vars['frecuencia'] / df_vars['frecuencia'].sum() 

i=0
while i < len(df_vars):
  if i == 0:
    df_vars.iloc[i, 4] = df_vars['porcentaje'][i]
  else:
    df_vars.iloc[i, 4] = (df_vars['porcentaje'][i] + df_vars['porcentaje_acum'][i-1])
  i += 1


df_vars.head(15)

## Visualizaciones

Trabajamos sobre la muestra tomada de la población de datos, haciendo los análisis necesarios.

### Distribución de las Variaciones Porcentuales Intradiarias


Vamos a visualizar cómo se distribuyen las variaciones porcentuales intradiarias y distintos aspectos estadísticos.

In [ ]:
values = np.array(df['rango_diario_porcentual'])
values_sorted = np.sort(values)
values_freq = np.array(df_vars['porcentaje'])
values_acum = np.array(df_vars['porcentaje_acum'])
n = len(values)

#### Promedios y Medidas de Dispersión

**Media, Mediana y Moda**

In [ ]:
from scipy import stats

mu = np.mean(values)
mediana = np.median(values_sorted)
moda, count = stats.mode(values)

print (f'La Media de la muestra es: {mu}\n')
print (f'Los valores ordenados son los siguientes:{values_sorted}.\nLa Mediana de la muestra es: {mediana}\n')
print (f'Los cantidad de valores analizados son los siguientes: {count}.\nLa Moda de la muestra es: {moda}')

**Varianza y Desviación Estándar**

In [ ]:
import statistics as st

var = st.variance(values)
sigma = st.stdev(values)

print (f'La Varianza de la muestra es la siguiente: {var}.\nEl Desvío Estándar de la muestra es: {sigma}')

**Volatilidad histórica**

Calculamos la Volatilidad Histórica del activo financiero analizado.
El número de ruedas a tomar para calcular la V.H. es el indicado en la variable global "DIAS_V_H".

In [ ]:
fecha = '2022-06-23'
v_h = volatilidad_historica(DIAS_V_H, fecha)

print (f'La Volatilidad Histórica de las últimas {DIAS_V_H} ruedas, a partir del {fecha} es: {v_h}%')

#### Distribución de ocurrencias

1) Media y Desvío Estándar

In [ ]:
mu = np.mean(values)
sigma = st.stdev(values)

print('La Media de la muestra es:', round(mu, 6), 'puntos porcentuales.')
print('El Desvío Estándar de la muestra es:', round(sigma, 6), 'puntos porcentuales.')

2) Variaciones Porcentuales Intradiarias: cálculo y gráficos

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

def crear_intervalos(xmin, xmax):
  intervalos = []
  i = xmin
  while i <= xmax:
    intervalos.append(i)
    i += 0.5
  return intervalos


def agregar_etiquetas(x_value, y_value, y_label,color):
    for i in range(1, len(x_value)+1):
        ax.text(i-1, (y_value[i-1]) * 1.02, y_label[i-1], ha="center", va='bottom', color=color, fontdict={'size':11})


fig = plt.figure(figsize=(12,10))
ax = fig.subplots()

xmin = -0.5
xmax = 20.5

# Creamos el gráfico de barras y sus correspondientes etiquetas
ax.bar(df_vars.index, values_freq, width=0.5, color='C0', label=f'Frecuencias abs.')
ax.set_xlabel('Variación % intradiaria total', fontdict={'size':14, 'color':'C0'})
ax.set_ylabel('Cantidad de ocurrencias cada 100', fontdict={'size':14, 'color':'C0'})

ax.axvline(mu*2 + (0), color='r', linestyle='--', label=f'Media: {round(mu, 2)}%')
ax.text(mu*2*1.025, 0.13, f'$\mu$ ={round(mu, 2)}%', fontdict={'size':14, 'color':'r'})

x_value = crear_intervalos(0, 10)
y_value = values_freq.tolist()[:21]

y_label = np.round(values_freq*100, decimals=2).tolist()[:21]
for i in range(len(y_label)):
  y_label[i] = str(y_label[i]) + '%'

agregar_etiquetas(x_value, y_value, y_label, 'C0')


# Creamos el gráfico de curva con las variaciones acumuladas
ax = ax.twinx()

ax.plot(df_vars.index, values_acum, color='C1', marker='o', ms=6, label=f'Frecuencias % acums.')
ax.set_ylabel('Cantidad Acumulada de ocurrencias cada 100', fontdict={'size':14, 'color':'r'})

x_value = crear_intervalos(0, 10)
y_value = values_acum.tolist()[:21]
y_label = np.round(values_acum*100, decimals=0).tolist()[:21]
for i in range(len(y_label)):
  y_label[i] = str(y_label[i]).split('.')[0] + '%'

agregar_etiquetas(x_value, y_value, y_label, 'r')


plt.xlim(0,10)
plt.ylim(0,10)
# axis: x0,x1,y0, y1
plt.axis([xmin, xmax, 0, 1.03])
plt.grid(True)

ax.set_title(f"Frecuencias Abs. % y Frecuencias Acums. % de Variación Total Intradiaria (rango %) \nrespecto del precio de la acción entre el período {FECHA_INICIO_MUESTRA} y {df['fecha_date'][len(df) - 1].strftime('%Y-%m-%d')}", fontdict={'size':16})
ax.legend(loc="upper right", bbox_to_anchor=(1, 0.9), prop={'size': 11})

fig.tight_layout()
plt.savefig('plot_1_ggal_vars_intra.jpg', dpi=300)
plt.show()

# Conclusiones

## Rango Porcentual Intradiario Total

Basados en que se busca generar información útil para el trading intradiario de acciones y, como podemos ver en la tabla de Frecuencias Acumuladas y el Gráfico a continuación, los datos nos expresan lo siguiente:

> 1) La variación porcentual intradiaria total con mayor frecuencia de ocurrencia es 2.5%, respecto del precio de apertura.


> 2) El valor de la Media de las distintas variaciones porcentuales intradiarias totales, respecto del precio de apertura, es de 3.68%.

> 3) El valor de la Media representa casi el 60% de las variaciones porcentuales intradiarias totales ocurridas en el período de la muestra.


<img src="https://raw.githubusercontent.com/JonatanSiracusa/Grupo_Financiero_Galicia_Intraday_Percentage_Change/main/plot_1_ggal_vars_intra.jpg" width=800>


## Información útil para el Trader

Quienes realizan "trading intradiario" necesitan que el precio de las acciones tengan volatilidad. Pero no solo volatilidad, sino también amplitud en los movimientos de precio.

Una de las tantas utilidades de las mencionadas conclusiones es visualizar el potencial de la acción analizada para realizar trading intradiario, el cual no es posible percibir a través del valor de la Volatilidad Histórica, ya que ésta última no contempla la amplitud de los movimientos del precio.

Como puede observarse en el gráfico y las conclusiones remarcadas, más de un 59% de las variaciones porcentuales que el precio de la acción realiza en una rueda se encuentran en el rango de un 3.68% respecto del precio de apertura, ya sea con tendencia alcista, bajista o lateral.

Esto sugiere que la acción de Grupo Financiero Galicia pudiese llegar a ser un instrumento conveniente para realizar trading intradiario, aunque esto queda a total criterio, voluntad y "talento" del operador.

Por último, se sugiere realizar mayores estudios con el fin de determinar cómo se comporta la variable analizada en los distintos tipos de mercados (alcista, bajista y lateral), y no solo la variacion porcentual intradiaria total, sino también un estudio similar con las variaciones hacia los mínimos y máximos intradiarios, y sus probabilidades.